@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'),
       local('Ubuntu-Bold'),
       url(/fonts/ubuntu-bold.woff) format('woff');
}

body
  font-family 'Ubuntu'

.container
  width 100%

.row
  background-color #EFE

.colContent
  border 1px solid pink
  height 100%

iframe
  height 100%
  width 100%

