@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'),
       local('Ubuntu-Bold'),
       url(/fonts/ubuntu-bold.woff) format('woff');
}

body
  font-family 'Ubuntu'

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12
  padding-left 2px
  padding-right 2px
.row
  margin-left -2px
  margin-right -2px
  background-color #888
  border-top 1px solid #888
  border-bottom 1px solid #888
.container
  width 100%
  padding-left 2px
  padding-right 2px


.colContent
  position relative
  height 100%
  
  .controls
    position absolute

iframe
  height 100%
  width 100%
  border 0

